<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Norma Machine</title>
    <link rel="stylesheet" href="static\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Intruções</a></li>
                <li><a href="/sobre" class="nav-link px-2 text-white">Sobre</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="static/gear-solid.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Norma Machine</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Norma (Number Theoretic Register Machine) é uma máquina universal definida por Bird (Bird 1976). A memória é composta por registros infinitos e os conjuntos de entradas e saídas são números inteiros não nulos.</p>
    </div>
    <div class="col-lg-6 mx-auto">
        <form action="/" method="post">
            <div class="mb-3">
                <input type="text" name="expresao" class="form-control"  >
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <input  formmethod="post" type="submit"  class="btn btn-primary btn-lg px-4 gap-3" value="Executar">
                <a href="/sobre" class="btn btn-outline-secondary btn-lg px-4">Sobre</a>
            </div>
        </form>
    </div>
</div>
{{rpt | safe}}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">© 2021 Company, Inc</span>
        </div>
    </footer>
</div>
</body>
</html>